
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .container{
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(45deg,#d2001a,#7462ff); */
  /* background: linear-gradient(1055deg,black,red,purple);
  animation: color 12s ease-in-out infinite; */
/* } */ 

body{
  background-image: url(DALL·E\ 2025-01-28\ 16.07.35\ -\ A\ sci-fi\ themed\ space\ scene\ featuring\ a\ glowing\ blue\ planet\ with\ swirling\ cloud\ patterns\ and\ a\ small\ moon\ in\ the\ distance.\ The\ planet\ is\ partially\ ill.webp);
  background-size: cover;
}
.container{
  font-family: "Orbitron",sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, #00FFFF, #0080FF);
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  box-shadow: rgb(14, 0, 0) 2px 1px 2px 0px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 0 solid #e5e7eb;
  font-weight: bold;
  font-size: 30px;
}
.container1{
  padding-top: 300px;
  font-family: "Orbitron",sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, #00FFFF, #0080FF,black);
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent;
  border: 0 solid #e5e7eb;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.container2{
  font-family: "Orbitron",sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, #00FFFF, #0080FF,black);
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent;
  border: 0 solid #e5e7eb;
  text-align: center;
  font-weight: bold;
}
.cont3{
  font-family: "Orbitron",sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, #00FFFF, #0080FF,black);
  border-radius: 25px;
  /* -webkit-background-clip: text;     */
  /* -webkit-text-fill-color: transparent;  */
  border: 0 solid #e5e7eb;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 8px;
  animation: 5s;
}
.cont3:hover{
  cursor: pointer;
  background: linear-gradient(45deg,#00FFFF,black);
}
.cont3i{
  display: flex;
  justify-content: center;
}
.codemagico{
  padding: 1rem;
}
.magic{
  text-decoration: overline;
}
.buttons1{
  padding: 1rem;
}
.buttons:hover{
  background: linear-gradient(45deg,#00FFFF,black);  
}
.button1{
  border-radius: 10px;
  padding: 0.75rem 1rem;
  text-decoration: none;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: .5rem;
  border-color: #00FFFF;
}

.cont4{
  font-family: "Orbitron",sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, #00FFFF, #0080FF);
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent;
  border: 0 solid #e5e7eb;
  text-align: center;
  font-weight: bold;
}


